sudo: false
language: node_js
cache:
  directories:
    - ~/.npm
notifications:
  email: false
node_js: "11"
install: npm install
script:
  - npm run lint
  - npm test
  - npm run test:e2e:run
after_script: npx codecov@3
branches:
  only: master
